<html lang="en">
<head>
  <title>Warren Botfett</title>
  <link rel='stylesheet' href='/css/style.css'
</head>
<body>
  <h1 id='mainTitle'>Here it is</h1>
  <main id='main' class='panels'>
    <div id='orderlists' class='panel'>
      <ul id='sellOrders'></ul>
      <ul id='buyOrders'></ul>
    </div>
    <div id='buttons' class='panel'>
      <form id='sellAll'>
        <input type='text' placeholder='10'></input>
        <button id='buy' class='action'>Buy!</button>
      </form>
      <form id='buyAll'>
        <input type='text' placeholder='10'></input>
        <button id='sell' class='action'>Sell!</button>
      </form>
    </div>
  </main>
</body>
<script src='/js/trade.js'></script>
