<html lang="en">
<head>
  <title>Warren Botfett</title>
  <link rel='stylesheet' href='/css/style.css'
</head>
<body>
  <h1>Here it is</h1>
  <main id='main' class='panels'>
    <div id='orderlists'>
      <ul id='sellOrders'></ul>
      <ul id='buyOrders'></ul>
    </div>
  </main>
</body>
<script src='/js/trade.js'></script>
