html * {
  font-size: 1em;
  color: #000;
  font-family: Aubrey;
}

.panels {
  display: flex;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 6pt;
}

li span, li span strong {
  color: white;
}

li.sell span {
  background-color: red;
}

li.buy span {
  background-color: green;
}