html * {
  font-size: 1em;
  color: #000;
  font-family: Aubrey;
}

.panels {
  display: flex;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 6pt;
}

li span, li span strong {
  color: white;
}

li.sell span {
  background-color: red;
}

li.buy span {
  background-color: green;
}

button.action {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #2C3E50;
  border-radius: 4px;
  border: 1px solid #2C3E50;
}

button#sell {
  background-color: #96281B;
  border: 1px solid #96281B;
}

button#buy {
  background-color: #26A65B;
  border: 1px solid #26A65B;
}